<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>VVV - Login</title>
</head>
<body>
    
    <main id="mainLogin">

        <div class="divForm formCad"></div>
        <div class="divForm formLog">
            <div id="divTitle">
                <h1 clas="titleForm titleLog">LOGIN</h1>
            </div>
            <form action="">

                <input type="text" name="email" id="email" class="inpLog inpEmail">
                <input type="text" name="password" id="password" class="inpLog inpPassword">
                <button type="submit" id="btnEntrar">Entrar<i class="ri-arrow-right-line"></i></button>

            </form>
        </div>

    </main>
    
</body>
</html>